<p-card>
  Mes réservations à venir :
  @if (resourceReservations.isLoading()) {
    <div class="flex justify-content-center py-6">
      <p-progress-spinner/>
    </div>
  } @else {
    <p-scrollPanel [style]="{ width: '100%', height: heightScrollPanel() }">
      @for (reservation of reservationsInComing(); track reservation.id) {
        <app-next-lesson-card
          [reservation]="reservation"
          personRole="Eleve : "
          [personName]="`${reservation.eleve_prenom} ${reservation.eleve_nom}`"
          [loadingCancel]="idBeingCancelled() == reservation.id"
          (cancelTrigger)="cancelReservation(reservation.id)"
        />
      }
    </p-scrollPanel>
  }
</p-card>
