<div class="tabs-header">
  <p-button>Passées</p-button>
  <p-button>A venir</p-button>
</div>

<div class="card">
  <p-carousel [value]="pages()" [numVisible]="1" [numScroll]="1" [circular]="false">
    <ng-template let-page #item>

      @if (page == 1) {
        @if (profile()?.role == 'eleve') {
          <app-eleve-past-lessons-list/>
        } @else {
          <app-moniteur-past-lessons-list/>
        }
      } @else {
        @if (profile()?.role == 'eleve') {
          <app-eleve-next-lessons-list/>
        } @else {
          <app-moniteur-next-lessons-list/>
        }
      }

    </ng-template>
  </p-carousel>
</div>
