<p-card>
  Mes réservations à venir :
  <p-scrollPanel [style]="{ width: '100%', height: heightScrollPanel() }">
    @for (reservation of reservationsInComing(); track reservation.id) {
      <app-next-lesson-card
        [reservation]="reservation"
        [personRole]="profile()?.role == 'eleve' ? 'Moniteur : ' : 'Eleve : ' "
        [personName]="profile()?.role == 'eleve' ? `${reservation.moniteur_prenom} ${reservation.moniteur_nom}` : `${reservation.eleve_prenom} ${reservation.eleve_nom}`"
        [loadingCancel]="idBeingCancelled() == reservation.id"
        (cancelTrigger)="cancelReservation(reservation.id)"
      />
    }
  </p-scrollPanel>
</p-card>
