<section
  class="container py-4 h-full flex flex-column"
  aria-label="Liste de vos réservations passées"
>
  <h2 class="text-xl font-bold text-color mb-4">Historique des leçons</h2>

  @if (resourceReservations.isLoading()) {
    <div class="flex justify-content-center align-items-center py-6">
      <p-progress-spinner strokeWidth="4" aria-label="Chargement de votre historique" />
    </div>
  } @else {
    <div class="lessons-scroll-container pr-2">
      @for (reservation of reservationsPast(); track reservation.id) {
        <app-eleve-past-lesson-card
          [reservation]="reservation"
          personRole="Moniteur :"
          [personName]="`${reservation.moniteur_prenom} ${reservation.moniteur_nom}`"
        />
      } @empty {
        <div
          class="surface-card border-round-xl border-1 surface-border p-5 text-center shadow-1 mt-2"
        >
          <div
            class="bg-surface-ground border-circle w-4rem h-4rem flex align-items-center justify-content-center mx-auto mb-3"
          >
            <i class="pi pi-history text-2xl text-color-secondary"></i>
          </div>
          <h3 class="m-0 text-color font-bold text-lg mb-2">Aucun historique</h3>
          <p class="text-color-secondary m-0 line-height-3">
            Vous n'avez pas encore effectué de leçon de conduite avec l'auto-école.
          </p>
        </div>
      }
    </div>
  }
</section>
