<p-card class="mb-3">
  <div class="flex justify-content-between">
    <div>
      <div>heure de départ : {{ reservation().heure_debut }}</div>
      <div>date : {{ reservation().date_creneau }}</div>
      <div>{{ personRole() }} {{ personName() }}</div>
    </div>
    @if (timerNextLesson()) {
      <div class="flex flex-column align-items-end">
        <div>{{ timerNextLesson() }}</div>
        <p-button
          label="annuler"
          (onClick)="cancelReservation()"
          [loading]="loadingCancel()"
          [disabled]="!canCancelReservation()"
          [severity]="canCancelReservation() ? 'primary' : 'secondary'"
        />
      </div>
    } @else {
      <div class="max-w-18rem flex-auto">Commentaire : {{ reservation().commentaire_moniteur }}</div>
      @if (test() == 'moniteur') {
        <p-button
          label="edit"
        />
      }
    }
  </div>
</p-card>
