<div class="card flex justify-center">
  <p-select-button [options]="maitrises" [(ngModel)]="selectedMaitrises" multiple="true"/>
</div>
<div class="card flex justify-center">
  <p-select-button [options]="categories" [(ngModel)]="selectedCategories" multiple="true"/>
</div>
<div class="card flex flex-column justify-center">
  <label for="search">Recherche</label>
  <input
    type="text"
    id="search"
    pInputText
    [(ngModel)]="search"
  >
</div>

@if (resourceCompetences.isLoading()) {
  <div class="flex justify-content-center py-6">
    <p-progress-spinner/>
  </div>
} @else {
  @for (competence of filter(); track competence.id) {
    <app-competence-card
      [competence]="competence"
      [canEditMaitrise]="canEditMaitrise()"
      (maitriseChanged)="onMaitriseChange($event.competenceId, $event.newMaitrise)"
    />
  }
}
