<p-card class="mb-3">
  <div class="flex">
    <div>
      <div>heure de départ : {{ reservation().heure_debut }}</div>
      <div>date : {{ reservation().date_creneau }}</div>
      <div>{{ personRole() }} {{ personName() }}</div>
    </div>

    <div class="flex flex-column flex-auto align-items-end gap-2">
      <div class="text-sm font-bold text-primary">{{ timerNextLesson() }}</div>
      <p-button
        label="Annuler"
        [loading]="loadingCancel()"
        [disabled]="!canCancelReservation()"
        [severity]="canCancelReservation() ? 'danger' : 'secondary'"
        (onClick)="cancelTrigger.emit()"
      />
    </div>
  </div>
</p-card>
